{% if system_postfix_setup_transport_maps_rules is defined and system_postfix_setup_transport_maps_rules | length > 0 %}
{% for system_postfix_setup_transport_maps_rule in system_postfix_setup_transport_maps_rules %}
{{ system_postfix_setup_transport_maps_rule }}
{% endfor %}
{% endif %}
