# Managed by ansible - role dnf-automatic

[Unit]
Description={{ system_dnf_setup_automatic_reboot_description }} timer

[Timer]
OnCalendar={{ system_dnf_setup_automatic_reboot_oncalendar }}
AccuracySec={{ system_dnf_setup_automatic_reboot_accuracysec }}

[Install]
WantedBy=timers.target
